<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1: laser_portname</key>
	<string>cu.usbserial-Laser</string>
	<key>2: angle_portname</key>
	<string>cu.usbserial-Angle</string>
	<key>3: luxmeter_portname</key>
	<string>cu.usbserial-Luxmeter</string>
</dict>
</plist>
