<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Axis1</key>
	<dict>
		<key>axis_id</key>
		<integer>1</integer>
		<key>start_speed</key>
		<integer>10</integer>
		<key>stop_speed</key>
		<integer>10</integer>
		<key>home_speed</key>
		<integer>20</integer>
		<key>run_speed</key>
		<integer>20</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>100</integer>
	</dict>
	<key>Axis2</key>
	<dict>
		<key>axis_id</key>
		<integer>2</integer>
		<key>start_speed</key>
		<integer>2</integer>
		<key>stop_speed</key>
		<integer>2</integer>
		<key>home_speed</key>
		<integer>3</integer>
		<key>run_speed</key>
		<integer>3</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>2500</integer>
	</dict>
	<key>Axis3</key>
	<dict>
		<key>axis_id</key>
		<integer>3</integer>
		<key>start_speed</key>
		<integer>3</integer>
		<key>stop_speed</key>
		<integer>3</integer>
		<key>home_speed</key>
		<integer>5</integer>
		<key>run_speed</key>
		<integer>5</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>2500</integer>
	</dict>
	<key>Axis4</key>
	<dict>
		<key>axis_id</key>
		<integer>4</integer>
		<key>start_speed</key>
		<integer>2</integer>
		<key>stop_speed</key>
		<integer>2</integer>
		<key>home_speed</key>
		<integer>5</integer>
		<key>run_speed</key>
		<integer>5</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>15000</integer>
	</dict>
	<key>Axis5</key>
	<dict>
		<key>axis_id</key>
		<integer>5</integer>
		<key>start_speed</key>
		<integer>5</integer>
		<key>stop_speed</key>
		<integer>5</integer>
		<key>home_speed</key>
		<integer>15</integer>
		<key>run_speed</key>
		<integer>15</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>1000</integer>
	</dict>
	<key>Axis6</key>
	<dict>
		<key>axis_id</key>
		<integer>6</integer>
		<key>start_speed</key>
		<integer>2</integer>
		<key>stop_speed</key>
		<integer>2</integer>
		<key>home_speed</key>
		<integer>10</integer>
		<key>run_speed</key>
		<integer>10</integer>
		<key>acc_time</key>
		<integer>1</integer>
		<key>smooth_time</key>
		<real>0.2</real>
		<key>home_dir</key>
		<integer>1</integer>
		<key>home_level</key>
		<integer>0</integer>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<integer>1000</integer>
	</dict>
	<key>Axis7</key>
	<dict>
		<key>axis_id</key>
		<integer>7</integer>
		<key>start_speed</key>
		<string>5</string>
		<key>stop_speed</key>
		<string>5</string>
		<key>home_speed</key>
		<string>15</string>
		<key>run_speed</key>
		<string>15</string>
		<key>acc_time</key>
		<string>1</string>
		<key>smooth_time</key>
		<string>0.2</string>
		<key>home_dir</key>
		<string>1</string>
		<key>home_level</key>
		<string>0</string>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<string>1000</string>
	</dict>
	<key>Axis8</key>
	<dict>
		<key>axis_id</key>
		<integer>8</integer>
		<key>start_speed</key>
		<string>5</string>
		<key>stop_speed</key>
		<string>5</string>
		<key>home_speed</key>
		<string>15</string>
		<key>run_speed</key>
		<string>15</string>
		<key>acc_time</key>
		<string>1</string>
		<key>smooth_time</key>
		<string>0.2</string>
		<key>home_dir</key>
		<string>1</string>
		<key>home_level</key>
		<string>0</string>
		<key>home_mode</key>
		<integer>27</integer>
		<key>pp_ratio</key>
		<string>1000</string>
	</dict>
	<key>Axis9</key>
	<dict>
		<key>axis_id</key>
		<integer>9</integer>
		<key>start_speed</key>
		<string>1</string>
		<key>stop_speed</key>
		<string>1</string>
		<key>home_speed</key>
		<string>8</string>
		<key>run_speed</key>
		<string>8</string>
		<key>acc_time</key>
		<string>1</string>
		<key>smooth_time</key>
		<string>0.2</string>
		<key>home_dir</key>
		<string>1</string>
		<key>home_level</key>
		<string>0</string>
		<key>home_mode</key>
		<integer>30</integer>
		<key>pp_ratio</key>
		<string>40000</string>
	</dict>
	<key>Axis10</key>
	<dict>
		<key>axis_id</key>
		<integer>10</integer>
		<key>start_speed</key>
		<string>40</string>
		<key>stop_speed</key>
		<string>40</string>
		<key>home_speed</key>
		<string>120</string>
		<key>run_speed</key>
		<string>120</string>
		<key>acc_time</key>
		<string>5</string>
		<key>smooth_time</key>
		<string>1</string>
		<key>home_dir</key>
		<string>1</string>
		<key>home_level</key>
		<string>0</string>
		<key>home_mode</key>
		<integer>30</integer>
		<key>pp_ratio</key>
		<string>800</string>
	</dict>
</dict>
</plist>
